<div style="display: flex; flex-direction: row">
  <span style="margin-right: 4px">{{label}}</span>

  <mwc-slider {{#if initial_value_variable}}:value="{{initial_value_variable}}" {{/if}}@input="{{variable_to_change}} = $event.detail.value" discrete></mwc-slider>
</div>
