<div style="display: flex; flex-direction: row">
  <span style="margin-right: 4px">{{label}}</span>

  <mwc-slider .value=${ {{variable_to_read}} } @input=${(e: CustomEvent) => { {{variable_to_change}} = e.detail.value; } }></mwc-slider>
</div>
