<template>
  <div>
    <div v-if="loading">
      <mwc-circular-progress indeterminate></mwc-circular-progress>
    </div>
    <div v-else>
      <main>
        <h1>Forum</h1>
      
        <div id="content">
          <h2>All Posts</h2>
          <AllPosts></AllPosts>
          <span style="margin-bottom: 16px"></span>
          <CreatePost></CreatePost>
        </div>
      </main>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent, computed } from 'vue';
import { AppAgentWebsocket, AppAgentClient } from '@holochain/client';
import '@material/mwc-circular-progress';
import AllPosts from './forum/posts/AllPosts.vue';
import CreatePost from './forum/posts/CreatePost.vue';

export default defineComponent({
  components: {
    // Add your subcomponents here
    AllPosts,
    CreatePost
  },
  data(): {
    client: AppAgentClient | undefined;
    loading: boolean;
  } {
    return {
      client: undefined,
      loading: true,
    };
  },
  async mounted() {
    // We pass an unused string as the url because it will dynamically be replaced in launcher environments
    this.client = await AppAgentWebsocket.connect('forum');
    
    this.loading = false;
  },
  provide() {
    return {
      client: computed(() => this.client),
    };
  },
});
</script>
