<script lang="ts">
  import { onMount, setContext } from 'svelte';
  import type { ActionHash, AppClient } from '@holochain/client';
  import { AppWebsocket } from '@holochain/client';
{{#if holo_enabled}}
  import WebSdk from '@holo-host/web-sdk'
{{/if}}

  import { clientContext } from './contexts';

  import './app.css';

  let client: AppClient | undefined;
  let loading = true;
{{#if holo_enabled}}
  const IS_HOLO = ['true', '1', 't'].includes(import.meta.env.VITE_APP_IS_HOLO?.toLowerCase())
  const logout = async () => {
    await (client as WebSdk).signOut();
    (client as WebSdk).signIn({ cancellable: false })
  }
{{/if}}

  onMount(async () => {
  {{#if holo_enabled}}
    if (IS_HOLO) {
      client = await WebSdk.connect({
        chaperoneUrl: import.meta.env.VITE_APP_CHAPERONE_URL,
        authFormCustomization: {
          appName: '{{app_name}}',
        }
      });

    (client as WebSdk).on('agent-state', agent_state => {
      loading = !agent_state.isAvailable || agent_state.isAnonymous
    });

    (client as WebSdk).signUp({ cancellable: false });

    } else {
      client = await AppWebsocket.connect();

      loading = false;
    }
  {{else}}
    client = await AppWebsocket.connect();

    loading = false;
  {{/if}}
  });

  setContext(clientContext, {
    getClient: () => client,
  });
</script>

<main>
  {#if loading}
    <div style="display: flex; flex: 1; align-items: center; justify-content: center">
      <mwc-circular-progress indeterminate />
    </div>
  {:else}
    <div id="content" style="display: flex; flex-direction: column; flex: 1;">
      <h2>EDIT ME! Add the components of your app here.</h2>

      <span>Look in the <code>ui/src/DNA/ZOME</code> folders for UI elements that are generated with <code>hc scaffold entry-type</code>, <code>hc scaffold collection</code> and <code>hc scaffold link-type</code> and add them here as appropriate.</span>

      <span>For example, if you have scaffolded a "todos" dna, a "todos" zome, a "todo_item" entry type, and a collection called "all_todos", you might want to add an element here to create and list your todo items, with the generated <code>ui/src/todos/todos/AllTodos.svelte</code> and <code>ui/src/todos/todos/CreateTodo.svelte</code> elements.</span>

      <span>So, to use those elements here:</span>
      <ol>
        <li>Import the elements with:
        <pre>
import AllTodos from './todos/todos/AllTodos.svelte';
import CreateTodo from './todos/todos/CreateTodo.svelte';
        </pre>
        </li>
        <li>Replace this "EDIT ME!" section with <code>&lt;CreateTodo&gt;&lt;/CreateTodo&gt;&lt;AllTodos&gt;&lt;/AllTodos&gt;</code>.</li>
        </ol>
    </div>
  {{#if holo_enabled}}
    {#if IS_HOLO}
      <mwc-button
        style="margin-top: 16px"
        raised
        label="Logout"
        on:click={() => logout()}
      />
    {/if}
  {{/if}}
  {/if}
</main>