import holochainLogo from './assets/holochainLogo.svg'
import { useContext } from 'react'
import { HolochainContext } from './contexts/HolochainContext'
import AllPosts from './forum/posts/AllPosts';
import CreatePost from './forum/posts/CreatePost';

import './App.css'

const App = () => {
  const { error, loading } = useContext(HolochainContext)
	if (loading) {
		return <div>loading...</div>
	}
	if (error) {
		return <div>Error starting app: {error.message}</div>
	}
  return (
    <div>
			<h2>Welcome to the Forum hApp</h2>
			<AllPosts />
			<CreatePost />
    </div>
  )
}

export default App
