<div>
  <h4>{{title_case field_name}}</h4>
  { {{ variable_to_read }}.map((el, i) => (
    <span i={i}>{{> (concat field_type.type "/" widget "/detail/render") variable_to_read="el"}}</span>
  ))}
</div>
