<script lang="ts">
  import { onMount, setContext } from 'svelte';
  import type { ActionHash, AppClient } from '@holochain/client';
  import { AppWebsocket } from '@holochain/client';
  import AllPosts from './forum/posts/AllPosts.svelte';
  import CreatePost from './forum/posts/CreatePost.svelte';

  import { clientContext } from './contexts';

  let client: AppClient | undefined;
  let loading = false;

  $: client, loading;

  onMount(async () => {
    loading = true;
    try {
      client = await AppWebsocket.connect();
    } catch(e) {
      console.error(e)
    } finally {
      loading = false;
    }
  });

  setContext(clientContext, {
    getClient: () => client,
  });
</script>

<main>
  {#if loading}
    <progress />
  {:else}
    <div>
      <h2>Welcome to the Forum hApp</h2>
      <AllPosts />
      <CreatePost />
    </div>
  {/if}
</main>