<script lang="ts">
import AllPosts from "./forum/posts/AllPosts.svelte";
import CreatePost from "./forum/posts/CreatePost.svelte";
import { onMount } from "svelte";
import { createClientStore, CLIENT_CONTEXT_KEY } from './contexts';
import { setContext } from 'svelte';
import ClientProvider from './ClientProvider.svelte';

const clientStore = createClientStore();
setContext(CLIENT_CONTEXT_KEY, clientStore);

onMount(() => {
  clientStore.connect();
});
</script>

<ClientProvider>
  <div>
    <h2>Welcome to the Forum hApp</h2>
    <AllPosts />
    <CreatePost />
  </div>
</ClientProvider>
