<script lang="ts">
  import { onMount, setContext } from 'svelte';
  import type { ActionHash, AppClient } from '@holochain/client';
  import { AppWebsocket } from '@holochain/client';
  import AllPosts from './forum/posts/AllPosts.svelte';
  import CreatePost from './forum/posts/CreatePost.svelte';

  import { clientContext } from './contexts';

  let client: AppClient | undefined;
  let loading = true;

  $: client, loading;

  onMount(async () => {
    client = await AppWebsocket.connect();
    loading = false;
  });

  setContext(clientContext, {
    getClient: () => client,
  });
</script>

<main>
  {#if loading}
    <progress />
  {:else}
    <div>
      <h1>Welcome to the Forum hApp</h1>
      <AllPosts />
      <CreatePost />
    </div>
  {/if}
</main>