<template>
  <ClientProvider>
    <h2>Welcome to the Forum hApp</h2>
    <AllPosts />
    <CreatePost />
  </ClientProvider>
</template>

<script setup lang="ts">
import ClientProvider from './ClientProvider.vue';
import AllPosts from './forum/posts/AllPosts.vue';
import CreatePost from './forum/posts/CreatePost.vue';
</script>