<template>
  <div>
    <progress v-if="loading"></progress>
    <div v-else>
      <h1>Forum</h1>
      <AllPosts></AllPosts>
      <CreatePost></CreatePost>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, computed } from 'vue';
import { AppWebsocket, AppClient } from '@holochain/client';
import AllPosts from './forum/posts/AllPosts.vue';
import CreatePost from './forum/posts/CreatePost.vue';

export default {
  components: {
    AllPosts,
    CreatePost
  },
  data(): {
    client: AppClient | undefined;
    loading: boolean;
  } {
    return {
      client: undefined,
      loading: true,
    };
  },
  async mounted() {
    this.client = await AppWebsocket.connect();
    this.loading = false;
  },
  provide() {
    return {
      client: computed(() => this.client),
    };
  },
};
</script>
