<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, viewport-fit=cover"
    />
    <meta name="Description" content="Put your description here." />
    <base href="/" />
    <title>Vanilla hApp</title>
  </head>

  <body>
    <div id="content"></div>

    <script type="module">
      import { AppWebsocket } from '@holochain/client';

      async function connect() {
        const client = await AppWebsocket.connect();
        alert("Connected to holochain!");
      }

      connect().catch(console.error);
    </script>
  </body>
</html>
