<div style="display: flex; flex-direction: row">
  <span><strong>{{label}}</strong></span>
  <span style="white-space: pre-line">${this._{{camel_case entry_type.name}}.{{@key}} ? 'Yes' : 'No' }</span>
</div>
