import { useContext } from 'react';

import './App.css'
import holochainLogo from './assets/holochainLogo.svg';
import { HolochainContext } from './contexts/HolochainContext';

const App = () => {
  const { error, loading } = useContext(HolochainContext)
  return (
    <>
      <div>
        <a href="https://developer.holochain.org/get-started/" target="_blank">
          <img src={holochainLogo} className="logo holochain" alt="holochain logo" />
        </a>
      </div>
      <h1>Holochain React hApp</h1>
      <div>
        <div className="card">
          {loading ? 'connecting...' : (error ? error.message : 'Connected to Conductor API')}
        </div>
        <p>
          Import scaffolded components into <code>src/App.tsx</code> to use your hApp
        </p>
      <p className="read-the-docs">
        Click on the Holochain logo to learn more
      </p>
      </div>
    </>
  )
}

export default App
