<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, viewport-fit=cover"
    />
    <meta name="Description" content="Put your description here." />
    <base href="/" />
    <title>{{title_case app_name}}</title>
    <link rel="stylesheet" href="./src/index.css" />
  </head>
  <body>
    <holochain-app></holochain-app>
    <script type="module" src="./src/holochain-app.ts"></script>
  </body>
</html>