import { LitElement, html, css, unsafeCSS } from 'lit';
import { customElement, property, state } from 'lit/decorators.js';
import { AppClient, AppWebsocket } from '@holochain/client';
import { provide } from '@lit-labs/context';

import globalStyles from './index.css';
import { clientContext } from './contexts';

import './forum/posts/all-posts';
import './forum/posts/create-post';

import './index.css';

@customElement('holochain-app')
export class HolochainApp extends LitElement {
  @state() loading = false;

  @provide({ context: clientContext })
  @property({ type: Object })
  client!: AppClient;

  async firstUpdated() {
    this.loading = true;
    try {
      this.client = await AppWebsocket.connect();
    } catch(e) {
      console.error(e)
    } finally {
      this.loading = false;
    }
  }

  render() {
    if (this.loading) return html`<progress></progress>`;
    return html`
      <div>
        <h2>Welcome to the Forum hApp</h2>
        <all-posts></all-posts>
        <create-post></create-post>
      </div>
    `;
  }

  static styles = css`${unsafeCSS(globalStyles)}`;
}