<div style="display: flex; flex-direction: column">
  <span><strong>{{label}}</strong></span>
  <span style="white-space: pre-line">{{ concat (concat (concat (concat "{{ this._" (camel_case entry_type.name)) ".") (snake_case field_name)) "}} " }}</span>
</div>
