import { LitElement, css, html } from 'lit';
import { customElement, property, state } from 'lit/decorators.js';
import {
  AppAgentWebsocket,
  ActionHash,
  AppAgentClient,
} from '@holochain/client';
import { provide } from '@lit-labs/context';
import '@material/mwc-circular-progress';

import { clientContext } from './contexts';

@customElement('holochain-app')
export class HolochainApp extends LitElement {
  @state() loading = true;

  @provide({ context: clientContext })
  @property({ type: Object })
  client!: AppAgentClient;

  async firstUpdated() {
    // We pass '' as url because it will dynamically be replaced in launcher environments
    this.client = await AppAgentWebsocket.connect('', '{{app_name}}');

    this.loading = false;
  }

  render() {
    if (this.loading)
      return html`
        <mwc-circular-progress indeterminate></mwc-circular-progress>
      `;

    return html`
      <main>
        <h1>{{title_case app_name}}</h1>

        <div id="content" style="display: flex; flex-direction: column; flex: 1;">
          <h2>EDIT ME! Add the components of your app here.</h2>
          <span>For example, if you have scaffolded a "todos" dna, a "todos" zome and a collection called "all_todos", an <code>&lt;all-todos&gt;</code> element will have been generated.</span>
          
          <span>To use that element here:</span>
          <ol>
            <li>Import the element with <code>import './todos/todos/all-todos'</code>.</li>
            <li>Replace this "EDIT ME!" section with <code>&lt;all-todos&gt;&lt;/all-todos&gt;</code>.</li>
          </ol>
        </div>
      </main>
    `;
  }

  static styles = css`
    :host {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      font-size: calc(10px + 2vmin);
      color: #1a2b42;
      max-width: 960px;
      margin: 0 auto;
      text-align: center;
      background-color: var(--lit-element-background-color);
    }

    main {
      flex-grow: 1;
    }

    .app-footer {
      font-size: calc(12px + 0.5vmin);
      align-items: center;
    }

    .app-footer a {
      margin-left: 5px;
    }
  `;
}
