<div style="display: flex; flex-direction: row">
  <span style="margin-right: 4px">{{label}}</span>

  <mwc-slider {{#if variable_to_read}}value={ {{variable_to_read}} }{{/if}} on:input={e => { {{variable_to_change}} = e.detail.value; } } discrete></mwc-slider>
</div>
