import { useContext } from 'react';
import { ClientContext } from './ClientContext';
import AllPosts from './forum/posts/AllPosts';
import CreatePost from './forum/posts/CreatePost';

import './app/css';

const App = () => {
  const { error, loading } = useContext(ClientContext);
  if (loading) {
    return <progress />;
  }
  if (error) {
    return <article>Error starting app: {error.message}</article>;
  }
  return (
    <div>
      <h2>Welcome to the Forum hApp</h2>
      <AllPosts />
      <CreatePost />
    </div>
  )
}

export default App;
