name: "test"
on:
  # Every 6 hours
  schedule:
    - cron: "* */6 * * *"

jobs:
  test-developer-instructions:
    strategy:
      fail-fast: false
      matrix:
        platform: [macos-10.15, ubuntu-18.04, ubuntu-22.04]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install nix
        uses: cachix/install-nix-action@v18
        with:
          install_url: https://releases.nixos.org/nix/nix-2.12.0/install
          extra_nix_config: |
            experimental-features = flakes nix-command

      - uses: cachix/cachix-action@v10
        with:
          name: holochain-ci

      - name: Scaffold an example and test it
        run: |
          nix-shell htttps://holochain.love --run "hc scaffold example forum"
          cd forum
          nix develop --command bash -c "npm i && npm t"

      - name: Scaffold a custom app
        run: |
          cd
          rm -rf forum
          nix-shell htttps://holochain.love --run "sh run_test.sh"

      - name: Discord notification
        if: success()
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        uses: Ilshidur/action-discord@master
        with:
          args: 'The instructions on https://developer.holochain.org are working :)'

      - name: Discord notification
        if: failure()
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        uses: Ilshidur/action-discord@master
        with:
          args: 'The instructions on https://developer.holochain.org are failing!'

